In [29]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
# import plotly.express as px

In [30]:
df = pd.read_csv('/home/svetlana/Phase0/DS-Project-week3/full_data.csv', index_col=0)
df.head(5)

,ID,number_of_rooms,type,metro,adress,size,building,parking,price,phone_number,...,bath,shower,washing_machine,air_conditioner,dishwasher,television,frodge,internet,telephone,floor
0,271271157,4.0,Квартира,Смоленская,"Москва, улица Новый Арбат, 27",200.0,"5/16, Монолитный",подземная,"500000.0 руб./ За месяц, Залог - 500000 руб., ...",+79166369231,...,Ванна,Душевая кабина,Стиральная машина,Кондиционер,Посудомоечная машина,Телевизор,Холодильник,Интернет,Телефон,5
1,271634126,4.0,Квартира,Смоленская,"Москва, улица Новый Арбат, 27",198.0,"5/16, Монолитно-кирпичный",подземная,"500000.0 руб./ За месяц, Залог - 500000 руб., ...",+79850608590,...,Ванна,Душевая кабина,Стиральная машина,Кондиционер,Посудомоечная машина,Телевизор,Холодильник,Интернет,0,5
2,271173086,4.0,Квартира,Смоленская,"Москва, улица Новый Арбат, 27",200.0,5/16,подземная,"500000.0 руб./ За месяц, Залог - 500000 руб., ...","+79672086536, +79099269384",...,Ванна,Душевая кабина,Стиральная машина,Кондиционер,Посудомоечная машина,Телевизор,Холодильник,Интернет,Телефон,5
3,272197456,4.0,Квартира,Смоленская,"Москва, переулок Плотников, 21С1",170.0,5/6,подземная,"400000.0 руб./ За месяц, Залог - 400000 руб., ...","+79660342340, +79099269384",...,Ванна,Душевая кабина,Стиральная машина,Кондиционер,Посудомоечная машина,Телевизор,Холодильник,Интернет,Телефон,5
4,273614615,2.0,Квартира,Арбатская,"Москва, улица Новый Арбат, 15",58.0,"12/26, Панельный",уличная,"225000.0 руб./ За месяц, Залог - 225000 руб., ...",+79852432860,...,Ванна,Душевая кабина,Стиральная машина,0,Посудомоечная машина,Телевизор,Холодильник,Интернет,0,12

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 19737 entries, 0 to 23367
Data columns (total 34 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   19737 non-null  int64
 1   number_of_rooms      19737 non-null  float64
 2   type                 19737 non-null  object
 3   metro                19737 non-null  object
 4   adress               19737 non-null  object
 5   size                 19737 non-null  float64
 6   building             19737 non-null  object
 7   parking              19737 non-null  object
 8   price                19737 non-null  object
 9   phone_number         19737 non-null  object
 10  description          19737 non-null  object
 11  refurbishment        19737 non-null  object
 12  balcony              19737 non-null  object
 13  window               19737 non-null  object
 14  bathroom             19737 non-null  object
 15  allow_pets_children  19737 non-null  object
 16  residential_complex  19737 non-null  int64
 17  ceiling_height       19737 non-null  float64
 18  elevator             19737 non-null  object
 19  garbage_chute        19737 non-null  object
 20  link                 19737 non-null  object
 21  monthly_payment      19737 non-null  float64
 22  currency             19737 non-null  object
 23  kitchen_furniture    19737 non-null  object
 24  bath                 19737 non-null  object
 25  shower               19737 non-null  object
 26  washing_machine      19737 non-null  object
 27  air_conditioner      19737 non-null  object
 28  dishwasher           19737 non-null  object
 29  television           19737 non-null  object
 30  frodge               19737 non-null  object
 31  internet             19737 non-null  object
 32  telephone            19737 non-null  object
 33  floor                19737 non-null  int64
dtypes: float64(4), int64(3), object(27)
memory usage: 5.3+ MB

In [32]:
df['bath'] = df['bath'].replace('Ванна', 0.1)
df['bath'].value_counts()

bath
0.1    14279
0       5458
Name: count, dtype: int64

In [33]:
df['shower'] = df['shower'].replace('Душевая кабина', 0.1)
df['shower'].value_counts()
# bath	shower	washing_machine	air_conditioner	dishwasher	television	frodge	internet	telephone

shower
0      15025
0.1     4712
Name: count, dtype: int64

In [34]:
df['washing_machine'] = df['washing_machine'].replace('Стиральная машина', 0.1)
df['washing_machine'].value_counts()

washing_machine
0.1    18821
0        916
Name: count, dtype: int64

In [35]:
df['air_conditioner'] = df['air_conditioner'].replace('Кондиционер', 0.1)
df['air_conditioner'].value_counts()

air_conditioner
0      11773
0.1     7964
Name: count, dtype: int64

In [36]:
df['dishwasher'] = df['dishwasher'].replace('Посудомоечная машина', 0.1)
df['dishwasher'].value_counts()

dishwasher
0      13013
0.1     6724
Name: count, dtype: int64

In [37]:
df['television'] = df['television'].replace('Телевизор', 0.1)
df['television'].value_counts()

television
0.1    12657
0       7080
Name: count, dtype: int64

In [38]:
df['frodge'] = df['frodge'].replace('Холодильник', 0.1)
df['frodge'].value_counts()

frodge
0.1    16949
0       2788
Name: count, dtype: int64

In [39]:
df['internet'] = df['internet'].replace('Интернет', 0.1)
df['internet'].value_counts()

internet
0.1    15639
0       4098
Name: count, dtype: int64

In [40]:
df['telephone'] = df['telephone'].replace('Телефон', 0.1)
df['telephone'].value_counts()

telephone
0      15729
0.1     4008
Name: count, dtype: int64